.widget {
  border-radius: 10px !important;
  margin-top: 20px;
}

.widgetHeader {
  text-transform: capitalize;
  border-radius: 10px 10px 0 0 !important;
  padding: 5px 10px;
  background-color: #333;
  color: #EEE;
  /* font-weight: bold; */
}

.widget .body {
  padding: 0 10px;
  max-height: 140px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 0 0 10px 10px !important;
}

.emptyBody {
  padding: 5px;
  border-radius: 0 0 10px 10px !important;
}

/* .datetimeSection {
  text-align: right;
} */

.contentSection {
  margin-top: 5px;
  font-size: 1.1em;
  font-weight: 300;
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.location {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.datetimeSection h4 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.keyItem {
  border-bottom: 1px solid #EEE;
  padding: 2px 0 5px 0;
}

.emptyStateText {
  color: #AAA;
  text-align: center;
  font-size: 1.2em;
  font-weight: 300;
  margin: 10px;
}
