.MyCurrentTasks {
  text-align: center;
  padding: 3px 15px 50px 15px;
  position: relative;
  max-height: 80vh;
}

.MyCurrentTasks h3 {
  margin-bottom: 20px;
}

.taskItems {
  height: 50vh;
  overflow-y: scroll;
}

.expandButton {
  position: absolute;
  left: 0;
  bottom: 0;
}

.taskInput {
  margin: 25px 0;
}

.noTasks {
  margin-top: 30px;
  font-size: 1.3em;
  color: grey;
}

.completedTask {
  text-decoration: line-through;
}
