.moduleInfo {
  text-align: center;
  padding: 3px 15px 50px 15px;
  position: relative;
}

.calendarFormField {
  margin: 20px 0;
}

.calendarDateFormField {
  margin: 0 3px;
}

.cardInfo {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.cardInfo:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardContainer {
    padding: 2px 16px;
}
