body {
  margin: 0;
  padding: 0;
  background-color: #EDECEC;
}

.tabContent {
  padding: 20px;
}

.standardTopGap {
  margin-top: 20px;
}

.standardLeftGap{
  margin-left: 20px;
}

.standardRightGap{
  margin-right: 20px;
}

.smallTopGap {
  margin-top: 10px;
}

.standardBottomGap {
  margin-bottom: 20px;
}

.paperDefault {
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.paperDefault:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) !important;
}
