.mainAreaCollab {
  overflow: hidden;
}
.collabChat {
  padding-top: 70px !important;
  border-right: 1px solid #1fbcd3;
}
.section {
   height: 100vh;
   padding-top: 60px;
   padding-left: 0;
   padding-right: 0;
   background-color: #fff;
}

.onlineUsersSection {
  padding-top: 70px;
  text-align: center;
  height: 100vh;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.onlineLabel {
  margin-top: 20px;
  color: #EEE;
}

.singleOnlineUser {
  margin-top: 20px;
  text-overflow: ellipsis;
}

.onlineUserImg {
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 5px;
}

.collabDrawArea {
  border-left: 2px dotted #1fbcd3;
}
